body{
  margin: 0px;
  background-color: #e0e0e0;
}

.top-menu{
  position: fixed;
  background-color: #2c3e50;
  height: 70px;
  padding: 0px;
  z-index: 3;
}

.container-imagen{
  position: absolute;
  background-color: #bec3c7;
  height: 70px;
  padding-left: 30px;
  padding-top: 5px;
  padding-right: 30px;
}

.top-menu img{
  width: 170px;
  margin-top: 5px;
}

.btn-menu{
  position: absolute;
  z-index: 2;
  right: 0px;
  height: 100%;
  width: 50px;
  font-size: 21px;
  border: none;
  background-color: #34495e;
  color: #bebebe;
  outline: none;
}

.side-nav{
  position: fixed;
  width: 230px;
  height: 100%;
  background-color: #34495e;
  z-index: 2;
  margin-top: 70px;
  transition: 0.3s;
}

.sidenav-line{
  position: absolute;
  background-color: #bebebe;
  height: 1.5px;
  width: 20%;
  left: 10%;
  top: 30px;
}
.sidenav-line1{
  position: absolute;
  background-color: #bebebe;
  height: 1.5px;
  width: 20%;
  right: 10%;
  top: 30px;
}

.title-menu{
  position: relative;
  color: #bebebe;
  margin-top: 20px;
}

.side-nav ul{list-style: none;padding: 0px;}
.side-nav ul a{color: white;font-size: 13px}
.side-nav ul a:hover,.side-nav ul a:focus{text-decoration: none}
.side-nav ul a .icon{color: #bebebe}
.side-nav ul a li{padding: 20px;transition: 0.1s}
.side-nav ul a li:hover,.side-nav ul a li:focus{background-color: #2c3e50;transition: 0.1s}
.side-nav ul a li:hover .icon,.side-nav ul a li:focus .icon{color: white;transition: 0.1s}
.side-nav ul a li.active{background-color: #2c3e50}
.side-nav ul a li.active .icon{color: #bec3c7}

.abrirmenu{
  transform: translateX(-100%);
  transition: 0.3s;
}
.cerrarmenu{
  transform: translateX(0%);
  transition: 0.3s;
}

.movercontenedor{margin-left: -250px}
.volvercontenedor{margin-left: 250px}

.subirboton{z-index: 3}
.bajarboton{z-index: 1}

.container-graphic{
  margin-top: 80px;
  background-color: white;
  position: fixed;
  width: 80%;
  height: 200px;
  margin-left: 250px;
}

#myChart{
  width: 90% !important;
  height: 90% !important;
  margin-left: 5% !important;
}

/*BIENVENIDA*/
.content-welcome{
  margin-top: 80px;
  width: 80%;
  background-color: white;
  height: 90%;
  padding-top: 10px;
  margin-left: 250px;
}

.content-welcome h1{
  font-weight: bold;
  color: #394c81;
}

.btnprimario{
 border: none;
 padding: 8px;
 font-weight: bold;
 background-color: #53cb32;
 border-bottom: 3px solid #41972a;
 border-radius: 5px;
 margin-top: 10px;
 margin-bottom: 20px;
 color: white;
 transition: 0.4s;
 outline: none;
}

.btnprimario:hover,.btnprimario:focus,.btnprimario:active{
  background-color: #82d66c;
  border-bottom: 3px solid #67bd50;
  transition: 0.4s;
  outline: none;
}
.btnmodal{
 border: none;
 padding: 5px;
 font-weight: bold;
 background-color: #337ab7;
 border-bottom: 3px solid #2e6da4;
 border-radius: 5px;
 margin-top: 10px;
 margin-bottom: 20px;
 color: white;
 transition: 0.4s;
 outline: none;
}

.btnmodal:hover,.btnmodal:focus,.btnmodal:active{
  background-color: #4c94d2;
  border-bottom: 3px solid #4382b9;
  transition: 0.4s;
  outline: none;
}

.titulomodal{
  font-weight: bold;
  color: #4c94d2;
}

.inputmodal{
  font-weight: bold;
  color: #2c3e50;
  background-color: #e4e4e4;;
  border: none;
}

.inputmodal:valid{
  border-bottom: 2px solid #4382b9;
}


.btncerrarmodal{
  border: none;
  padding: 6px;
  font-weight: bold;
  background-color: transparent;
  color: #2c3e50;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: 0.4s;
  outline: none;
}

.btncerrarmodal:focus,.btncerrarmodal:hover,.btncerrarmodal:active{
  background-color: #e4e4e4;
}

.btnuser{
  position: absolute;
  margin-top: 70px;
  width: 170px;
  background-color: #ccc;
  padding: 10px;
  right: 0px;
}
.btnuser a{
  font-weight: bold;
  color: #2c3e50;
}
.btnuser a:hover,.btnuser a:focus{text-decoration: none}

.btnlargo{transform: translateX(50px);}

.contenedor-infos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contenedor-infos h1{
  font-size: 15px;
  color: white;
}

.contenedor-total-personas{
  align-items: center;
  margin: 20px 0px;
  padding: 0px 20px;
  border-radius: 5px;
  background-color: #2ecc71;
  text-align: center;
}

.contenedor-total-stands{
  align-items: center;
  margin: 20px 0px;
  padding: 0px 20px;
  border-radius: 5px;
  background-color: #3498db;
  text-align: center;
}

.contenedor-total-conferencias{
  align-items: center;
  margin: 20px 0px;
  padding: 0px 20px;
  border-radius: 5px;
  background-color: #f1c40f;
  text-align: center;
}

.contenedor-graficas{
  display: flex;
}

.grafica1{
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.grafica2{
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.content-event-dias{
  height: 100vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.content-secundario-event-dias{
  width: 76vh;
  height: 300px;
  background-color: #e0e0e0;
  margin: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
}

.content-secundario-event-dias h2{
  transform: translateY(-133px) translateX(33vh);
}
.content-secundario-event-dias h4{
  position: absolute;
}

.content-secundario-event-dias input,
.content-secundario-event-dias textarea,
.content-secundario-event-dias button{
  transform: translateX(-35px) translateY(25px);
}

.h41{
  transform: translateY(-5px) translateX(35px);
}

.h42{
  transform: translateY(-31px) translateX(144px);
}

.h43{
  transform: translateY(-31px) translateX(257px);
}

textarea{
  resize: none;
}

.content-secundario-event-dias button{
  border: none;
  border-radius: 3px;
  width: 88%;
  margin-top: 10px;
  padding: 5px;
  color: white;
  font-weight: 500;
  background-color: #3498db;
}

.content-secundario-event-dias textarea{
  margin-top: 10px;
}
@media screen and (max-width: 800px) {
  body{
    overflow-x: hidden;
  }

  .side-nav{
    transform: translateX(-250px);
  }
  .content-welcome{
    margin-left: 0px;
    width: 100%;
  }

  .contenedor-graficas{
    display: none;
  }

  .btnclassdiv{
    display: flex;
  }

  .btnprimario{
    position: relative;
    margin: auto;
  }

  .container-imagen{
    right: 0px;
  }

  .btn-menu{
    display: none;
  }
  .btn-menu1{
    left: 0px;
  }

  .btnmenucerrado{
    display: none;
  }

  .btnmenusalir{
    display: inherit !important;
  }
}

.abrirmenu{
  transform: translateX(0%) !important;
  transition: 0.3s;
}
.cerrarmenu{
  transform: translateX(-250px) !important;
  transition: 0.3s;
}

.btn-menu1 {
    position: absolute;
    z-index: 2;
    right: 0px;
    height: 100%;
    width: 50px;
    font-size: 21px;
    border: none;
    background-color: #34495e;
    color: #bebebe;
    outline: none;
}

.btnmenucerrado{
  margin-top: 150px;
  position: absolute;
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}

.btnmenusalir{
  position: absolute;
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #67839e;
  bottom: 70px;
  display: none;
}
/*TABLA*/
.tabla{
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
}

.table>thead:first-child>tr:first-child>th{
  border: 1px solid #BEBEBE;
}
.table-bordered>thead>tr>th{
  border: 1px solid #BEBEBE;
}
.table-bordered>tbody>tr>td{
  border: 1px solid #BEBEBE;
}
.tblhead{background: rgba(190, 190, 190, 0.65);color:white}

th{
  background: #34495e;
  color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{padding: 0;}
.dataTables_wrapper .dataTables_paginate .paginate_button a {cursor: pointer;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
   outline: 0;
   background-color: none;
   background: none;
   box-shadow: none;
   border: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
   color: #fff !important;
   border: 0;
   padding: 2px 5px;
   background: #7889b5;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active {
   outline: 0;
   background: none;
   border: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover:not(.next,.previous){
   color: #424242 !important;
   border: 0;
   background: rgba(255, 99, 71, .2);
}

a, a:hover, a:focus{
  text-decoration: none !important;
}

a:hover{
  cursor: pointer;
}


.previous, .next{
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 0;
   border: none;
   outline: none;
   transition: none;
   padding: 0;
   margin: 0;
}

a.current{
   background-color: tomato;
   color: #ffffff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover:not(.current) {
   color: white !important;
   border: 0;
   background: none;
   background-color: rgba(10,10,10,.2) !important;
   cursor: pointer;
}


.previous i, .next i{

   padding: 5px;
}

.dataTables_paginate{
   display: flex;
   align-items: center;
   margin-top: 10px;
}

.dataTables_paginate i{
   color: #424242;
}

.previous i:hover, .next i:hover{
   color: #424242;
   background-color: transparent;
}

.paginate_button{
   margin: 0 !important;

   margin-left: 2px !important;
   margin-right: 2px !important;
   border: 0 !important;
}

.dataTables_wrapper{
   margin-top: 40px;
}

.dataTables_paginate{
   padding-bottom: 10px;
   margin-left: 90%;
}

.sorting,.sorting_asc,.sorting_desc{
   color: #fff;
   border: none !important;
}

.dataTables_filter{
   margin-bottom: 20px;
   margin-left: 71.5%;
}

tbody a{
  margin-left: 20px;
}

/* DEFECTOS BOOTSTRAP */
.form-control:focus {
    border-color: rgba(102, 175, 233, 0);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}
/*SCROLL*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #bebebe;
}

::-webkit-scrollbar-thumb {
  background-color: #34495e;
}
.licollapse{
  cursor: pointer;
}

#collapsote{
  background-color: #496179;
  padding: 10px;
  color: white;
  padding-left: 22px;
}
#collapsote2{
  background-color: #496179;
  padding: 10px;
  color: white;
  padding-left: 22px;
}

.btnadminmemori{
  background-color: #ff6d3f !important;
  border-bottom: 3px solid #ff7d55 !important;
  margin-left: 51px;
}

.btnadminmemori:hover,.btnadminmemori:focus{
  color: white;
  text-decoration: none;
}

.tablaconfe{
  margin-top: 10px;
}

.selectconfe{
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  height: 10%;
  font-weight: bold;
  width: 50%;
  text-align: center;
  margin: 20px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.selectconfe a{
  padding: 20px;
  display: block;
  margin-bottom: 0;
}

.flexible{
  text-align: center;
}

.inputvisitas{
  padding: 7px;
  border-radius: 5px;
}

.cuadritoqr{
  width: 65vh!important;
  margin-left: 83px;
  padding-right: 20px;
}

.textareamodal{
  resize: none !important;
  height: 80px !important;
}

@media print {
  body{
    background: red;
  }
  .content-welcome h1{
    display: none;
  }
  .top-menu, .side-nav{
    display: none;
  }
  .content-welcome{
    width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-top: 0;
  }
  .content-qr-dad{
    display: flex;
    justify-content: center;
  }
}
.content-qr-son img{
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.content-qr-dad{
  display: flex;
  justify-content: center;
  /*flex-direction: column;*/
}

.content-qr-son{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.content-qr-son h2{
  margin: 0;
  text-align: center;
}

.content-update{
  width: 40%;
  margin: 0 auto;
}
