RewriteEngine On
RewriteRule ^inicio$                            index.php
RewriteRule ^dashboard$                         index.php?c=main&a=dashboard
RewriteRule ^registro$                          index.php?c=user
RewriteRule ^usuarios$                          index.php?c=user&a=gestUser
RewriteRule ^usuarios&msn=(.*)$                 index.php?c=user&a=gestUser&msn=$1
RewriteRule ^validar-email$                     index.php?c=user&a=validEmail
RewriteRule ^iniciar$                           index.php?c=user&a=signIn
RewriteRule ^cerrar$                            index.php?c=user&a=close
RewriteRule ^crear-usuario$                     index.php?c=user&a=create
RewriteRule ^validar-documento$                 index.php?c=user&a=documento
RewriteRule ^update-user-status$                index.php?c=user&a=updateStatus
RewriteRule ^delete-user&token=(.*)$            index.php?c=user&a=delete&token=$1
RewriteRule ^eventos$                           index.php?c=event
RewriteRule ^crear-evento$                      index.php?c=event&a=create
RewriteRule ^delete-evento&token=(.*)$          index.php?c=event&a=delete&token=$1
RewriteRule ^dias&token=(.*)$                   index.php?c=event&a=dias&token=$1
RewriteRule ^update-dia$                        index.php?c=event&a=updateDias
RewriteRule ^conferencias$                      index.php?c=conference
RewriteRule ^invalid-conference$                index.php?c=conference&a=invalid
RewriteRule ^con-memorias$                      index.php?c=conference&a=gesMemories
RewriteRule ^con-memorias&msn=(.*)$             index.php?c=conference&a=gesMemories&msn=$1
RewriteRule ^con-memorias&token=(.*)$           index.php?c=conference&a=gesMemories&token=$1
RewriteRule ^con-memorias&msn=(.*)&token=(.*)$  index.php?c=conference&a=gesMemories&msn=$1&token=$2
RewriteRule ^select-conference$                 index.php?c=conference&a=select
RewriteRule ^crear-conferencia$                 index.php?c=conference&a=create
RewriteRule ^crear-conMemoria$                  index.php?c=conference&a=crearMemories
RewriteRule ^update-conferencia&token=(.*)$     index.php?c=conference&a=updateData&token=$1
RewriteRule ^update-conference$                 index.php?c=conference&a=update
RewriteRule ^delete-conferencia&token=(.*)$     index.php?c=conference&a=delete&token=$1
RewriteRule ^delete-memoriconfe&token=(.*)$     index.php?c=conference&a=deleteMemories&token=$1
RewriteRule ^con-eventos$                       index.php?c=conference&a=event
RewriteRule ^conference-select$                 index.php?c=conference&a=select
RewriteRule ^conference-select-qr$              index.php?c=conference&a=selectQr
RewriteRule ^pabellon$                          index.php?c=pavilion
RewriteRule ^con-pabellon$                      index.php?c=pavilion&a=event
RewriteRule ^crear-pabellon$                    index.php?c=pavilion&a=create
RewriteRule ^delete-pabellon&token=(.*)$        index.php?c=pavilion&a=delete&token=$1
RewriteRule ^update-pabellon&token=(.*)$        index.php?c=pavilion&a=updateData&token=$1
RewriteRule ^update-pavilion$                   index.php?c=pavilion&a=update
RewriteRule ^stands$                            index.php?c=stand
RewriteRule ^invalid-stand$                     index.php?c=stand&a=invalid
RewriteRule ^stands&msn=(.*)$                   index.php?c=stand&msn=$1
RewriteRule ^crear-stand$                       index.php?c=stand&a=create
RewriteRule ^delete-stand&token=(.*)$           index.php?c=stand&a=delete&token=$1
RewriteRule ^update-stand&token=(.*)$           index.php?c=stand&a=updateData&token=$1
RewriteRule ^update-stands$                     index.php?c=stand&a=update
RewriteRule ^expo-memorias$                     index.php?c=stand&a=gesMemories
RewriteRule ^expo-memorias&msn=(.*)$            index.php?c=stand&a=gesMemories&msn=$1
RewriteRule ^crear-expoMemoria$                 index.php?c=stand&a=crearMemories
RewriteRule ^delete-memoristand&token=(.*)$     index.php?c=stand&a=deleteMemories&token=$1
RewriteRule ^stand-select-qr$                   index.php?c=stand&a=selectQr
RewriteRule ^stand-select$                      index.php?c=stand&a=select
RewriteRule ^stand-visit&token=(.*)$            index.php?c=stand&a=visit&token=$1
RewriteRule ^crear-visita$                      index.php?c=stand&a=createVisit



php_value upload_max_filesize 6400M
php_value post_max_size 6400M
php_value max_execution_time 300
php_value max_input_time 300
